/* Estilo */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}

body {
  background-color: rgb(100, 100, 104);
  height: 100vh;
  transition: background-color 0.5s ease;
  color: #d3d1d1;
}

.interface {
  max-width: 1280px;
  margin: 0 auto;
}

/* ESTILO CABEÇALHO */

header,
nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #b4b2b2;
}

header {
  background-color: rgb(27, 27, 27);
  box-shadow: 0.5px 0.5px 10px 0.5px #000000;
  height: 70px;
  justify-content: space-between;
  padding: 0 9%;
  /* position: fixed;
  z-index: 1000;
  width: 2100px; */
}

header nav ul {
  list-style-type: none;
}

header ul li {
  color: rgb(171, 175, 175);
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  transition: 0.2s;
}

header ul li:hover {
  color: aliceblue;
  transform: scale(1.05);
}

header .btn-contato button {
  padding: 9px 40px;
  font-size: 18px;
  border: 0;
  border-radius: 15px;
  font-weight: 650;
  background-color: rgb(124, 34, 207);
  cursor: pointer;
  color: rgb(210, 211, 211);
  transition: 0.5s;
}

header .btn-contato button:hover {
  background-color: rgb(97, 4, 185);
  box-shadow: 0px 0px 8px;
  transform: scale(1.05);
  color: white;
}

nav {
  display: flex;
}

nav ul {
  gap: 150px;
  cursor: pointer;
}

.logo_header {
  display: flex;
  align-items: center;
  color: rgb(171, 175, 175);
  font-weight: bold;
}

.logo_header img {
  max-width: 40px;
  max-height: 40px;
  width: 45px;
  height: auto;
  margin-right: 10px;
}

.contatos img {
  width: 40px;
  margin-top: 5px;
  margin-left: 30px;
  transition: 0.3s;
}

.contatos img:hover {
  transition: 0.3s;
  transform: scale(1.2);
}

.contatos {
  margin-right: 110px;
  display: inline-flex;
}

/* FLIP */
.flip-modo {
  width: 35px;
  height: 35px;
  transition: 0.2s;
}

.flip-modo:hover {
  transform: scale(1.08);
  transition: 0.2s;
  border-radius: 50%;
}

.img-tamanho-modo {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  margin-right: 10px;
  object-fit: cover;
}

.flip-modo-inner {
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.flip-modo.active .flip-modo-inner {
  transform: rotateY(-180deg);
}

.modo-escuro,
.modo-claro {
  position: absolute;
  backface-visibility: hidden;
}

.flip-modo .modo-claro {
  transform: rotateY(-180deg);
}

/* CABEÇALHO TEMA CLARO*/
.white {
  background-color: #d3d1d1;
}

.white header {
  background-color: rgb(30, 30, 102);
  color: black;
}

.white header ul li {
  color: #c4c2c2;
  transition: 0.5s;
}

.white header ul li:hover {
  color: rgb(255, 255, 255);
}

.white .logo_header {
  display: flex;
  align-items: center;
  color: rgb(171, 175, 175);
  font-weight: bold;
  color: #c4c2c2;
  transition: 0.2s;
}

.white header .btn-contato button {
  color: #000000;
  transition: 0.5s;
  background-color: rgb(255, 255, 255);
}

/* CORPO WHITE */

.img-topo-site img {
  max-width: 600px;
  max-height: 600px;
  width: auto;
  height: auto;
  position: relative;
  animation: flutuar 3s ease-out infinite alternate;
}

main {
  transition: 1s;
}

section .topo-do-site {
  padding: 40px 4%;
}

.flex {
  display: flex;
}

section.topo-do-site .flex {
  align-items: center;
  gap: 10px;
}

.fundo-texto-topo {
  background-color: rgb(68, 67, 68);
  width: 700px;
  height: 150px;
  border-radius: 10px;
  text-align: center;
  padding-top: 19px;
  align-items: center;
  justify-content: center;
  color: rgb(211, 208, 208);
  box-shadow: 0.5px 0.5px 10px 0.5px #000000;
  margin-bottom: 20px;
  transition: 0.2s;
}

.fundo-texto-topo:hover {
  transform: scale(1.05);
  transition: 0.3s;
  color: #ffffff;
}

.white .fundo-texto-topo {
  background-color: rgb(56, 56, 138);
  color: rgb(211, 208, 208);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.txt-topo-site {
  width: 800px;
}

.topo-do-site h1 {
  font-size: 45px;
}

.topo-do-site p {
  font-size: 25px;
}

@keyframes flutuar {
  0% {
    top: 0;
  }
  100% {
    top: 30px;
  }
}

/* Scroll */

.scrollTop {
  outline: none;
  border: 0;
  background-color: white;
  width: 60px;
  height: 60px;
  padding: 8px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  position: fixed;
  right: 30px;
  bottom: 30px;
  box-shadow: 0 1px 6px 2px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  z-index: 999;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease;
}

.scrollTop.active {
  opacity: 1;
  visibility: visible;
}

.scrollTop img {
  width: 100%;
}

.scrollTop:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 8px;
}

.white .scrollTop:hover {
  transform: scale(1.05);
  box-shadow: 0.5px 0.5px 10px 0.5px rgb(56, 56, 138);
}

/* tecnologias */

h2 {
  padding-top: 10px;
  font-size: 50px;
  text-align: center;
}

.fundo-tecnologias img {
  max-width: 100px;
  max-height: 100px;
  width: auto;
  height: auto;
}

.fundo-tecnologias {
  width: auto;
  height: 700px;
  border-radius: 10px;
  background-color: rgb(75, 74, 75);
  align-items: center;
  text-align: center;
  box-shadow: 0.5px 0.5px 10px 0.5px #000000;
  transition: 0.2s;
}

.fundo-tecnologias:hover {
  transform: scale(1.04);
  transition: 0.3s;
}

.white .fundo-tecnologias {
  background-color: rgb(56, 56, 138);
  box-shadow: 0 1px 6px 2px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  color: rgb(255, 255, 255);
}

.fundo-tecnologias ul {
  padding-top: 50px;
  display: inline-flex;
  list-style-type: none;
  gap: 20px;
}

.fundo-tecnologias li {
  width: 300px;
  opacity: 0.7;
  transition: 0.2s;
}

.fundo-tecnologias li:hover {
  opacity: 1;
  transition: 0.3s;
  transform: scale(1.05);
}

/* LINHA DO TEMPO */

.jornada {
  font-size: 50px;
  display: flex;
}

.linha-do-tempo {
  margin: 30px auto;
  width: 40%;
}

.text-box-linha-do-tempo {
  display: flex;
  position: relative;
  height: 200px;
}

.text-box-linha-do-tempo div {
  padding: 10px 13px;
  border-radius: 10px;
  margin-top: 20px;
  background-color: rgb(59, 59, 59);
  width: 500px;
  height: 160px;
  transition: 0.3s;
}

.text-box-linha-do-tempo h3 {
  font-size: 26px;
}

.text-box-linha-do-tempo:nth-child(odd) {
  border-left: 3px solid #afadad;
  padding-left: 50px;
  transform: translateX(250px);
}

.text-box-linha-do-tempo:nth-child(even) {
  border-right: 3px solid #afadad;
  padding-right: 50px;
  transform: translateX(-259px);
}

.text-box-linha-do-tempo:nth-child(odd)::before,
.text-box-linha-do-tempo:nth-child(even)::before {
  content: "";
  background: #afadad;
  width: 50px;
  height: 3px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.text-box-linha-do-tempo:nth-child(odd) div::before,
.text-box-linha-do-tempo:nth-child(even) div::before {
  content: "";
  background: #afadad;
  box-shadow: 0 0 0.5em #596370;
  width: 0.8em;
  height: 0.8em;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
}

.text-box-linha-do-tempo:nth-child(odd) div::before {
  left: -0.4em;
}

.text-box-linha-do-tempo:nth-child(even) div::before {
  right: -0.4em;
}

.text-box-linha-do-tempo:nth-child(odd)::before {
  left: 0;
}

.text-box-linha-do-tempo:nth-child(even)::before {
  right: 0;
}

.linha-do-tempo img {
  max-width: 40px;
  max-height: 40px;
  width: 40px;
  height: 40px;
  margin-left: 380px;
  margin-top: -150px;
}

.fundo-jornada {
  width: 1280px;
  height: 950px;
  border-radius: 10px;
  background-color: rgb(75, 74, 75);
  box-shadow: 0.5px 0.5px 10px 0.5px #000000;
  transition: 0.2s;
  justify-content: center;
  margin-top: 100px;
}

.fundo-jornada-certificados {
  width: 1280px;
  height: 540px;
  border-radius: 10px;
  background-color: rgb(75, 74, 75);
  box-shadow: 0.5px 0.5px 10px 0.5px #000000;
  transition: 0.2s;
  justify-content: center;
  margin: 100px 0px;
}

.white .fundo-jornada {
  box-shadow: 0 1px 6px 2px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  color: rgb(231, 226, 226);
  background-color: rgb(56, 56, 138);
}

.fundo-jornada:hover {
  transform: scale(1.03);
  transition: 0.3s;
}

.white .fundo-jornada {
  box-shadow: 0 1px 6px 2px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  color: rgb(231, 226, 226);
}

.white .text-box-linha-do-tempo div {
  background-color: white;
  color: #000000;
}
/* CERTIFICADOS */

.certificados img:active {
  transform: scale(1.6);
  transition: 0.3s;
  position: fixed;
}

.certificados img {
  width: 500px;
  height: auto;
  border-radius: 10px;
  transition: 0.3s;
}

.certificados div {
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  margin: 30px;
  border: 2px;
  display: inline-block;
}

.certificados {
  display: flex;
  justify-content: center;
}

.certificados div:hover {
  color: #ffffff;
  transition: 0.3s;
  transform: scale(1.1);
}

.certificados p {
  text-align: center;
}

.white .fundo-jornada-certificados {
  box-shadow: 0 1px 6px 2px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  color: rgb(231, 226, 226);
  background-color: rgb(56, 56, 138);
}

.fundo-jornada-certificados:hover {
  transform: scale(1.03);
  transition: 0.3s;
}

.white .fundo-jornada-certificados {
  box-shadow: 0 1px 6px 2px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  color: rgb(231, 226, 226);
}

/* PROJETOS */

.fundo-projetos {
  width: 1280px;
  height: 480px;
  border-radius: 10px;
  background-color: rgb(75, 74, 75);
  box-shadow: 0.5px 0.5px 10px 0.5px #000000;
  transition: 0.2s;
  justify-content: center;
}

.white .fundo-projetos {
  background-color: rgb(56, 56, 138);
}

.white .projetos div {
  background-color: rgb(231, 226, 226);
}

.projetos div {
  width: 300px;
  height: 300px;
  background-color: rgb(59, 59, 59);
  margin: 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  cursor: pointer;
  margin-bottom: 300px;
}

.projetos div:hover {
  transition: 0.3s;
  transform: scale(1.1);
}

.projetos div .semafaro {
  width: 90px;
}

.projetos div a {
  text-decoration: none;
  color: #ffffff;
}

.white .projetos div a {
  font-weight: bold;
  color: #000000;
}

.projetos {
  text-align: center;
}

.img-calculadora-imc {
  width: 150px;
}
