/* Estilo */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

body{
    background-color: rgb(41, 40, 40);
    height: 100vh;
    transition: background-color 0.5s ease;
    color: #b6b4b4;
}

.interface{
    max-width: 1280px;
    margin:0 auto;
}

/* ESTILO CABEÇALHO */

header{
    padding: 9px 4%;
    box-shadow: .5px .5px 10px .5px #000000;
    position: relative;
}

header > .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: rgb(171, 175, 175);
    text-decoration: none;
    display: inline-block;
    transition: .2s;

}

header a:hover {
    color: aliceblue;
    transform: scale(1.05);
}

header nav ul{
    list-style-type: none; 
}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
}

header .btn-contato button{
    padding: 9px 40px;
    font-size: 18px;
    border: 0;
    border-radius: 15px;
    font-weight: 650;
    background-color: rgb(124, 34, 207);
    cursor: pointer;
    color: #ffff;
    transition: 0.5s;
}

header .btn-contato button:hover{
    background-color: rgb(97, 4, 185);
    box-shadow: 0px 0px 8px;
    transform: scale(1.05); 
}

.btn-contato{
    padding-top: 25px;
}

.logo a img{
    max-width:40px;
    max-height:40px;
    width: auto;
    height: auto;
    margin-right: 10px;
}

.logo a {
    display: flex;
    align-items: center;
    padding-top: 32px;
}

/* FLIP */
.flip-modo {
    padding-top: 17px;
    width: 50px;
    height: 50px;
}

.flip-modo:hover {
    transform: scale(1.08);
    transition: 0.2s;
}

.img-tamanho-modo {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    margin-right: 10px;
    object-fit: cover;
}

.flip-modo-inner {
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.flip-modo.active .flip-modo-inner {
    transform: rotateY(-180deg);
}

.modo-escuro, .modo-claro {
    position: absolute;
    backface-visibility: hidden;
}

.flip-modo .modo-claro {
    transform: rotateY(-180deg);
}

/* CABEÇALHO TEMA CLARO*/
.white {
    background-color: rgb(207, 203, 203);
    color: black;
}

.white header {
    background-color: rgb(43, 42, 43);
    color: black;
}

.white header a {
    color: rgb(252, 252, 252, 253);
    transition: 0.5s;
}

.white header a:hover {
    color: rgb(255, 255, 255);
}

.white header .btn-contato button {
    color: #ffffff;
    transition: 0.5s;
}


/* CORPO WHITE */
.white .hello-word {
    color: black;
}

.img-topo-site img {
    max-width: 600px;
    max-height: 600px;
    width: auto;
    height: auto;
    position: relative;
    animation: flutuar 3s ease-out infinite alternate;
}

section .topo-do-site{
padding: 40px 4%;
}

.flex{
display: flex;
}

section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 150px;
}

.txt-topo-site{
    width: 480px;
}

.topo-do-site h1{
    font-size: 35px;  
}

.topo-do-site p{
    font-size: 22px;  
}




@keyframes flutuar{
    0%{
top: 0;
    }
    100%{
top: 30px;
    }
}