/* Estilo */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}

body {
  background-color: rgb(100, 100, 104);
  height: 100vh;
  transition: background-color 0.5s ease;
  color: #d3d1d1;
}

.interface {
  max-width: 1280px;
  margin: 0 auto;
}

/* ESTILO CABEÇALHO */

header,
nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #b4b2b2;
}

header {
  background-color: rgb(27, 27, 27);
  box-shadow: 0.5px 0.5px 10px 0.5px #000000;
  height: 70px;
  justify-content: space-between;
  padding: 0 10%;
}

header nav ul {
  list-style-type: none;
}

header ul li {
  color: rgb(171, 175, 175);
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  transition: 0.2s;
}

header ul li:hover {
  color: aliceblue;
  transform: scale(1.05);
}

header .btn-contato button {
  padding: 9px 40px;
  font-size: 18px;
  border: 0;
  border-radius: 15px;
  font-weight: 650;
  background-color: rgb(124, 34, 207);
  cursor: pointer;
  color: rgb(171, 175, 175);
  transition: 0.5s;
}

header .btn-contato button:hover {
  background-color: rgb(97, 4, 185);
  box-shadow: 0px 0px 8px;
  transform: scale(1.05);
  color: white;
}

nav ul {
  gap: 100px;
}

.logo_header {
  display: flex;
  align-items: center;
  color: rgb(171, 175, 175);
  font-weight: bold;
}

.logo_header img {
  max-width: 40px;
  max-height: 40px;
  width: 45px;
  height: auto;
  margin-right: 10px;
}

/* FLIP */
.flip-modo {
  width: 40px;
  height: 40px;
}

.flip-modo:hover {
  transform: scale(1.08);
  transition: 0.2s;
}

.img-tamanho-modo {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  margin-right: 10px;
  object-fit: cover;
}

.flip-modo-inner {
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.flip-modo.active .flip-modo-inner {
  transform: rotateY(-180deg);
}

.modo-escuro,
.modo-claro {
  position: absolute;
  backface-visibility: hidden;
}

.flip-modo .modo-claro {
  transform: rotateY(-180deg);
}

/* CABEÇALHO TEMA CLARO*/
.white {
  background-color: rgb(207, 203, 203);
  color: black;
}

.white header {
  background-color: rgb(43, 42, 43);
  color: black;
}

.white header ul li {
  color: #c4c2c2;
  transition: 0.5s;
}

.white header ul li:hover {
  color: rgb(255, 255, 255);
}

.white .logo_header {
  display: flex;
  align-items: center;
  /* color: rgb(171, 175, 175); */
  font-weight: bold;
  color: #c4c2c2;
  transition: 0.2s;
}

.white header .btn-contato button {
  color: #ffffff;
  transition: 0.5s;
}

/* CORPO WHITE */

.img-topo-site img {
  max-width: 600px;
  max-height: 600px;
  width: auto;
  height: auto;
  position: relative;
  animation: flutuar 3s ease-out infinite alternate;
}

main {
  transition: 1s;
}

section .topo-do-site {
  padding: 40px 4%;
}

.flex {
  display: flex;
}

section.topo-do-site .flex {
  align-items: center;
  justify-content: center;
  gap: 150px;
}

.txt-topo-site {
  width: 480px;
}

.topo-do-site h1 {
  font-size: 35px;
}

.topo-do-site p {
  font-size: 22px;
}

@keyframes flutuar {
  0% {
    top: 0;
  }
  100% {
    top: 30px;
  }
}

/* Scroll */

.scrollTop {
  outline: none;
  border: 0;
  background-color: white;
  width: 60px;
  height: 60px;
  padding: 8px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  position: fixed;
  right: 30px;
  bottom: 30px;
  box-shadow: 0 1px 6px 2px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  z-index: 999;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease;
}

.scrollTop.active {
  opacity: 1;
  visibility: visible;
}

.scrollTop img {
  width: 100%;
}

/* Responsividade */

.btn_icon_header {
  display: none;
  background-color: transparent;
  border: none;
  color: rgb(171, 175, 175);
  transition: 0.2s;
}

.btn_icon_header:hover {
  color: #ffffff;
  transform: scale(1.05);
}

/* @media screen and (max-width: 768px) {
  .btn_icon_header {
    display: block;
  }
  nav ul {
    position: absolute;
    flex-direction: column;
  }
} */
